
// COLORS

.white {
  color: $white;
}

.black {
  color: $black;
}


.light-gray {
  color: $light-gray;
}

.medium-gray {
  color: $medium-gray;
}

.dark-gray {
  color: $dark-gray;
}



.red-1797 {
  color: $pantone-1797;
}

.purple-2117 {
  color: $pantone-2117;
}

.purple-2116 {
  color: $pantone-2116;
}

.purple-2115 {
  color: $pantone-2115;
}

.purple-2114 {
  color: $pantone-2114;
}

.purple-2113 {
  color: $pantone-2113;
}


// VERTICLE PADDING

.v-padding-extra-large {
  padding-top: 233px;
  padding-bottom: 233px;
}

.v-padding-large {
  padding-top: 144px;
  padding-bottom: 144px;
}

.v-padding-medium {
  padding-top: 89px;
  padding-bottom: 89px;
}


.v-padding-small {
  padding-top: 55px;
  padding-bottom: 55px;
}

.v-padding-extra-small {
  padding-top: 34px;
  padding-bottom: 34px;
}

@include breakpoint(small only) { 

  .v-padding-extra-large,
  .v-padding-large,
  .v-padding-medium,
  .v-padding-small {
    padding-top: 34px;
    padding-bottom: 34px;
  }

}


// INLINE 

ul.sentance {
  list-style-position: inside;
  margin-bottom: $paragraph-margin-bottom;

  li {
    display:inline;

    &:before {
      content: '\00a0\2022\00a0\00a0';
      color:$dark-gray;
    }

    &:first-child:before {
      content: '';
    }
  }
}


ul.paragraph {
  margin-bottom: $paragraph-margin-bottom;

  li {
    margin-bottom: $paragraph-margin-bottom;
  }
}

ul.boxed {
  display: block;
  background: $gray-05;
  list-style: none; 
  padding:.5rem;
  border-radius: $global-radius;
  
  li {
    display: block;
    background: $white;
    text-align: center;
    margin-bottom: $paragraph-margin-bottom;
    border-radius: $global-radius;
    padding:.2rem;
    
    &:last-child {
      margin-bottom: .5rem;
    }
  }
}


