





.section-header{
  h1 {
    margin-bottom: $paragraph-margin-bottom - .5rem;
  }
}


//- columned-list-left
.section-list-left {
    
    h1 {
      text-align: center;
    }
    
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      margin-bottom: $subheader-margin-bottom;   
    }
    
  @include breakpoint(small only) {
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      text-align: left;
    }
    
    ul {
      margin-bottom: $paragraph-margin-bottom + .5rem;
      
      li {
        margin-bottom: 0;
      } 
    }
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

//- columned-list-sentance
.section-list-sentance {
  
  h1 {
    text-align: center;
  }
  
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: $subheader-margin-bottom;   
  }
  
  ul {
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


.section-messages-2-columns,
.section-messages-3-columns {

  .section-header {
    padding-bottom: $paragraph-margin-bottom;
    
    .columns {
      border-bottom: 1px solid $light-gray;
      padding-bottom: $paragraph-margin-bottom;
    }
    
    h1, h2, h3, .lead {
      margin-bottom: $paragraph-margin-bottom - .5rem;
    }
  }

}


//- columned-list-sentance 
.section-list-2-columns, 
.section-list-3-columns,
.section-list-divider {
  
  h1 {
    text-align: center;
    margin-bottom: $paragraph-margin-bottom + 1rem;
  }

  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: 0;   
  }

  h2 + p.lead,
  h3 + p.lead,
  h4 + p.lead {
    font-weight:200;
  }
  
  ul {
    margin-top: $paragraph-margin-bottom + .5rem;
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }

  .thumbnail,
  .icon {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
}

//- columned-list-boxed 
.section-list-boxed {
  
  h1 {
    text-align: center;
  }
  
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: $subheader-margin-bottom;   
  }
  
  ul {
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


.section-right-message {
  
  h2, h3, h4 {
    margin-bottom: $paragraph-margin-bottom - .5;
  }
      
  @include breakpoint(small only) { 
    .columns {

      p:last-child {
        margin-bottom: 0;
      }
      
      &:first-child {
        img {
          margin-bottom: $paragraph-margin-bottom + 1;
        }
      }
      
      
    }
  }
}

.section-left-message {

  h2, h3, h4 {
    margin-bottom: $paragraph-margin-bottom - .5;
  }

  @include breakpoint(small only) { 
    .columns {

      p:last-child {
        margin-bottom: 0;
      }
      
      &:first-child {
        img {
          margin-bottom: $paragraph-margin-bottom + 1;
        }
      }
      
      
    }
  }
}

.sidebar-right {
  aside {
    padding-top:1rem;
    padding-bottom:1.1rem;
    border-bottom: 1px solid $light-gray;

    @include breakpoint(small only) {
       text-align: center;
    }

    &:first-child {
      padding-top:0;
      @include breakpoint(small only) {
        padding-top:1rem;
        border-top: 1px solid $light-gray;
      }
    }
    
    &:last-child {
      border-bottom: 1px none;
    }

    &.sidebar-author-grid {
      img {
        padding: 2px;
        width: 22%;
        height: auto;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: 0.5s;
      }
    }

  }
}

.cta-fixed {
  position: fixed;
  bottom: 0;
  height:275px;
  width:300px;
  
  @include breakpoint(small only) {
    left: 50%;
    margin-left: -37.5%;
  }
  
  @include breakpoint(medium) {
    right: 0;
  }
  
  .header {
    height:25px;
    
    .close-button {
      float:right;
      
      border-top:1px solid $light-gray;
      border-left:1px solid $light-gray;
      border-right:1px solid $light-gray;
      background: #fff;
      font-size: 1.5rem;
      padding:0 10px;
      line-height:.9;
      
      -webkit-border-bottom-left-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      
      span {
        font-size: 1.5rem;
        line-height:.9;
      }
    }
    
  }
  
  
}

.section-hero-25,
.section-hero-50,
.section-hero-75,
.section-hero-100 {
  margin: 0;
  padding: 0;
  background: #c0c0c0;
  white-space: nowrap;

  &:before {
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }

  .middle-inline-block {
    margin:0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0px 15px;
    
    .columns {
      white-space:normal;
    }
  }


}

.section-hero-75 {
  height: 540px;
}
.section-hero-50 {
  height: 420px;
}


