
//- columned-list-left
.section-list-left {
    
    h1 {
      text-align: center;
    }
    
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      margin-bottom: $subheader-margin-bottom;   
    }
    
  @include breakpoint(small only) {
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      text-align: left;
    }
    
    ul {
      margin-bottom: $paragraph-margin-bottom + .5rem;
      
      li {
        margin-bottom: 0;
      } 
    }
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

//- columned-list-sentance
.section-list-sentance {
  
  h1 {
    text-align: center;
  }
  
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: $subheader-margin-bottom;   
  }
  
  ul {
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


//- columned-list-sentance 
.section-list-3-columns,
.section-list-divider {

  h1 {
    text-align: center;
  }

  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: 0;   
  }

  h2 + p.lead,
  h3 + p.lead,
  h4 + p.lead {
    font-weight:200;
  }
  
  ul {
    margin-top: $paragraph-margin-bottom + .5rem;
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }

  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

//- columned-list-boxed 
.section-list-boxed {
  
  h1 {
    text-align: center;
  }
  
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: $subheader-margin-bottom;   
  }
  
  ul {
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


.section-left-image {
  @include breakpoint(small only) { 
    .columns {
      
      h2, h3, h4 {
        margin-bottom: $paragraph-margin-bottom;
      }
      
      p:last-child {
        margin-bottom: 0;
      }
      
      &:first-child {
        img {
          margin-bottom: $paragraph-margin-bottom + 1;
        }
      }
      
      
    }
  }
}

.section-right-image {
  @include breakpoint(small only) { 
    .columns {
      
      h2, h3, h4 {
        margin-bottom: $paragraph-margin-bottom;
      }
      
      p:last-child {
        margin-bottom: 0;
      }
      
      &:last-child {
        img {
          margin-bottom: $paragraph-margin-bottom + 1;
        }
      }
      
      
    }
  }
}



.cta-fixed {
  position: fixed;
  bottom: 0;
  height:275px;
  width:300px;
  
  @include breakpoint(small only) {
    left: 50%;
    margin-left: -37.5%;
  }
  
  @include breakpoint(medium) {
    right: 0;
  }
  
  .header {
    height:25px;
    
    .close-button {
      float:right;
      
      border-top:1px solid $light-gray;
      border-left:1px solid $light-gray;
      border-right:1px solid $light-gray;
      background: #fff;
      font-size: 1.5rem;
      padding:0 10px;
      line-height:.9;
      
      -webkit-border-bottom-left-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      
      span {
        font-size: 1.5rem;
        line-height:.9;
      }
    }
    
  }
  
  
}

