
hr {
  max-width: none;
}

blockquote {
  border-left: none;
  margin-bottom: $paragraph-margin-bottom + 1rem;
  margin-top: $paragraph-margin-bottom + 1rem;
  padding-bottom: $paragraph-margin-bottom + 1rem;
  padding-top: $paragraph-margin-bottom + 1rem;
  padding-left: $paragraph-margin-bottom + 1rem;
  padding-right: $paragraph-margin-bottom + 1rem;
  //border-top: 1px dotted $light-gray;
  //border-bottom: 1px dotted $light-gray;

  p {
    margin-bottom: $paragraph-margin-bottom;
    font-style: italic;
    text-align: center;
    font-size: $global-font-size + 30%;
    line-height: 1.3;
    color:$pantone-2116;
    font-weight: 300; 
  } 
  
  cite {
    font-size: $global-font-size - 20%;
    text-align: center;
     font-weight: 300;
  }
}

sup {
  font-size: .4em;
  top: -0.7em;
}

sub {
  font-size: .4em;
}

// COLORS
.white {
  color: $white;
}

.black {
  color: $black;
}


.light-gray {
  color: $light-gray;
}

.medium-gray {
  color: $medium-gray;
}

.dark-gray {
  color: $dark-gray;
}

.red-1797 {
  color: $pantone-1797;
}

.purple-2117 {
  color: $pantone-2117;
}

.purple-2116 {
  color: $pantone-2116;
}

.purple-2115 {
  color: $pantone-2115;
}

.purple-2114 {
  color: $pantone-2114;
}

.purple-2113 {
  color: $pantone-2113;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.bg-gray-03 {
  background: #f7f7f7;
}

.bg-gray-05 {
  background: $gray-05;
}

.bg-gray-10 {
  bbackground: $gray-10;
}

.bg-gray-20 {
  background: $gray-20;
}

.bg-gray-30 {
  background: $gray-30;
}

.bg-gray-40 {
  background: $gray-40;
}

.bg-light-gray {
  background: $light-gray;
}

.bg-medium-gray {
  background: $medium-gray;
}

.bg-dark-gray {
  background: $dark-gray;
}

.bg-red-1797 {
  background: $pantone-1797;
}

.bg-purple-2117 {
  background: $pantone-2117;
}

.purple-2116 {
 background: $pantone-2116;
}

.bg-purple-2115 {
  background: $pantone-2115;
}

.bg-purple-2114 {
  background: $pantone-2114;
}

.bg-purple-2113 {
  background: $pantone-2113;
}


// VERTICLE PADDING

.v-padding-extra-large {
  padding-top: 233px;
  padding-bottom: 233px;
}

.v-padding-large {
  padding-top: 144px;
  padding-bottom: 144px;
}

.v-padding-medium {
  padding-top: 89px;
  padding-bottom: 89px;
}


.v-padding-small {
  padding-top: 55px;
  padding-bottom: 55px;
}

.v-padding-extra-small {
  padding-top: 34px;
  padding-bottom: 34px;
}

@include breakpoint(small only) { 

  .v-padding-extra-large,
  .v-padding-large,
  .v-padding-medium,
  .v-padding-small {
    padding-top: 34px; 
    padding-bottom: 34px;
  }

}

@include breakpoint(medium) {
  .valign-middle-medium {
    display: table;
  }
  
  .valign-middle-medium .columns {
    display: table-cell;
    vertical-align: middle;
  }
  
  .valign-middle-medium .columns,
  .valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
}

@include breakpoint(large) {
  .valign-large {
    display: table;
  }
  
  .valign-large .columns {
    display: table-cell;
    vertical-align: middle;
  }
  
  .valign-large .columns,
  .valign-large [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
}



// LIST 

ul.sentance {
  list-style-position: inside;
  margin-bottom: $paragraph-margin-bottom;

  li {
    display:inline;

    &:before {
      content: '\00a0\2022\00a0\00a0';
      color:$dark-gray;
    }

    &:first-child:before {
      content: '';
    }
  }
}


ul.paragraph {
  margin-bottom: $paragraph-margin-bottom;

  li {
    margin-bottom: $paragraph-margin-bottom;
  }
}


ul.boxed {
  display: block;
  background: $gray-05;
  list-style: none; 
  padding:.5rem;
  border-radius: $global-radius;
  
  li {
    display: block;
    background: $white;
    text-align: center;
    margin-bottom: $paragraph-margin-bottom;
    border-radius: $global-radius;
    padding:.4rem;
    
    &:last-child {
      margin-bottom: .5rem;
    }
  }
}


ul.divider {
  display: block;
  list-style: none; 
  border-top: 1px dotted $gray-20;
  padding-top: $paragraph-margin-bottom;
  
  li {
    display: block;
    text-align: center;
    padding-bottom: $paragraph-margin-bottom;
    margin-bottom: $paragraph-margin-bottom;
    border-bottom: 1px dotted $gray-20;

    &:last-child {
      border-bottom: none;
    }
  }
}

ol.references {
  border-top:1px solid $medium-gray; 
  margin: 0;
  margin-top:$paragraph-margin-bottom;
  margin-bottom:$paragraph-margin-bottom;
  padding-top: $paragraph-margin-bottom;
  display: block;
  list-style-type: decimal;
  padding-left: 1rem;

  li {
    padding:0; 
    padding-left: 0;
    padding-bottom: $paragraph-margin-bottom -.5rem;
    font-size: .7rem;
  }
}


