
//- columned-list-left
.columned-list-left {
    
    h1 {
      text-align: center;
    }
    
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      margin-bottom: $subheader-margin-bottom;   
    }
    
  @include breakpoint(small only) {
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      text-align: left;
    }
    
    ul {
      margin-bottom: $paragraph-margin-bottom + .5rem;
      
      li {
        margin-bottom: 0;
      } 
    }
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

//- columned-list-sentance 
.columned-list-sentance {
  
  h1 {
    text-align: center;
  }
  
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: $subheader-margin-bottom;   
  }
  
  ul {
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

//- columned-list-boxed 
.columned-list-boxed {
  
  h1 {
    text-align: center;
  }
  
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin-bottom: $subheader-margin-bottom;   
  }
  
  ul {
    margin-bottom: $paragraph-margin-bottom + .5rem;
  }
  
  .thumbnail,
  .icon {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


.columned-left-image {
  @include breakpoint(small only) { 
    .columns {
      &:first-child {
        img {
          margin-bottom: $paragraph-margin-bottom;
        }
      }
    }
  }
}

